.group:has([role='button']) .VPSidebarItem.level-0 .items {
    padding-left: 16px !important;
    border-left: 1px solid var(--vp-c-divider);
    border-radius: 2px;
    transition: background-color 0.25s;
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(240deg, #41d1ff, #bd34fe);
}

/* 自定义Logo背景 */
.VPHomeHero .image .image-container .image-bg {
    width: 100px;
    height: 100px;
    top: 110px;
    right: 180px;
    background-image: linear-gradient(-45deg, rgba(232, 53, 37, 0.8) 30%, rgba(242, 173, 62, 0.5));
    filter: blur(40px);
}
